.section {
  scroll-margin: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .section {
    max-width: 672px; /* md:max-w-2xl */
  }
}

@media (min-width: 1024px) {
  .section {
    max-width: 896px; /* lg:max-w-4xl */
  }
}
