.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.algo{
  margin-top: 60px;
  display: flex; 
  margin-bottom: 1.5rem; 
  column-gap: 0.75rem; 
  align-items: center; 
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 600; 
}
@media (min-width: 350px) and (max-width: 760px) {
  .main {
    padding: 3rem;
  }
}
